<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <!-- Optional: Add any other configurations specific for testing -->
    <logger name="com.atricore.iam.convenia.api" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>
